.header {
    background-image: linear-gradient(to right, red, blue);
    padding: 1rem 0;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .header-link {
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
    margin-right: 10px;
  }
  
  .header-link:last-child {
    margin-right: 0;
  }